* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #0a0c1b;
}
h1 {
  color: #fefffd;
  font-size: 40px;
  margin-bottom: 1.5rem;
}
p {
  color: #9a98ae;
}

.landing {
  display: flex;
  align-items: center;
  height: 100vh;
  @media (max-width: 768px) {
    display: block;
  }
  .container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    background-color: #1c193b;
    border-radius: 10px;
    @media (max-width: 475px) {
      margin: 2rem auto;
    }
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 768px) {
        flex-direction: column;
      }
      .info {
        padding: 4rem;
        width: 50%;
        @media (max-width: 768px) {
          order: 2;
          width: 100%;
          text-align: center;
        }
        @media (max-width: 475px) {
          padding: 2rem;
        }
        h1 {
          @media (max-width: 1024px) {
            font-size: 38px;
          }
          @media (max-width: 920px) {
            font-size: 30px;
          }
          @media (max-width: 365px) {
            font-size: 25px;
          }
          @media (max-width: 475px) {
            font-size: 20px;
          }
        }
        p {
          line-height: 25px;
          width: 80%;
          @media (max-width: 920px) {
            width: 100%;
          }
        }
        span {
          color: #a75dd7;
        }

        .row {
          @media (max-width: 768px) {
            flex-direction: row;
          }
          .col {
            margin-top: 3rem;
            font-size: 12px;
            letter-spacing: 3px;
            width: 70%;
            @media (max-width: 1024px) {
              margin-right: 10px;
            }
            .stats {
              color: #fefffd;
              font-size: 24px;
              margin-bottom: 0.3rem;
              letter-spacing: 0px;
              font-weight: 600;
              @media (max-width: 1024px) {
                font-size: 22px;
              }
              @media (max-width: 920px) {
                font-size: 18px;
              }
              @media (max-width: 475px) {
                font-size: 16px;
              }
            }
            p {
              @media (max-width: 920px) {
                font-size: 10px;
              }
              @media (max-width: 475px) {
                font-size: 8px;
              }
            }
          }
        }
      }
      .image {
        background: linear-gradient(rgba(123, 68, 161, 0.6), transparent);
        border-end-end-radius: 10px;
        border-start-end-radius: 10px;
        @media (max-width: 768px) {
          order: 1;
          width: 100%;
        }
        img {
          border-end-end-radius: 10px;
          border-start-end-radius: 10px;
          background-size: cover;
          max-width: 100%;
          @media (max-width: 768px) {
            border-top-left-radius: 10px;
            border-start-end-radius: 10px;
            width: 100%;
          }
        }
      }
    }
  }
}
