* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #0a0c1b;
}
h1 {
  color: #fefffd;
  font-size: 40px;
  margin-bottom: 1.5rem;
}
p {
  color: #9a98ae;
}

.landing {
  margin-top: 12em;
  .container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    background-color: #1c193b;
    border-radius: 10px;
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 895px) {
        flex-direction: column;
      }
      .info {
        padding: 4rem;
        width: 50%;
        @media (max-width: 1024px) {
          h1 {
            font-size: 38px;
          }
        }
        @media (max-width: 895px) {
          order: 2;
        }
        p {
          line-height: 25px;
          width: 80%;
        }
        span {
          color: #a75dd7;
        }
      }
      .image {
        //   url("images/image-header-desktop.jpg");
        background: linear-gradient(rgba(123, 68, 161, 0.6), transparent);
        @media (max-width: 895px) {
          order: 1;
        }
        img {
          z-index: -1;
          display: block;
          background-size: cover;
          border-end-end-radius: 10px;
          border-start-end-radius: 10px;
          max-width: 100%;
        }
      }
      .col {
        margin-top: 3rem;
        font-size: 12px;
        letter-spacing: 3px;
        width: 70%;
        @media (max-width: 1024px) {
          margin-right: 10px;
        }
        .stats {
          color: #fefffd;
          font-size: 24px;
          margin-bottom: 0.3rem;
          letter-spacing: 0px;
          font-weight: 600;
          @media (max-width: 1024px) {
            font-size: 22px;
          }
        }
      }
    }
  }
}
